.sidebarChannel {
  padding-left: 20px;

 h4 {
  color: white;
  display: flex;
  align-items: center;
  padding: 1px;
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

.sidebarChannelHash {
  padding-right: 10px;
}

}